#mensagem-sucesso-form {
  display: none;
  background-color: #d4edda;
  padding: 10px;
  border: 1px solid #c3e6cb;
  border-radius: 5px;
  margin-top: 10px;
  color: #155724;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


  .navbar-brand {
    text-align: center;
    width: 100%;
    padding-right: 0;
  }

  .navbar {
    width: 100%;
    max-width: none;
    color: aquamarine;
  }

  .table-top {
    max-width: 500px;
    font-weight: bold;
    background-color: #f2f2f2;
  }

  .table-top td {
    text-align: start;
  }

  #searchInput {
    max-width: 200px;
  }



  .form-label {
    margin-right: 5px;
  }


  .small-font {
    font-size: 15px;

  }


  #tabelaServidores {
    font-size: 13px;
    font-weight: bold;
  }

  body.dark-mode {
    background-color: #343a40;
    color: #fff;
  }

  body.dark-mode .navbar {
    background-color: #1e272e;
  }

  body.dark-mode #tabelaServidores {
    background-color: #2c3e50;
    color: #ecf0f1;
  }

  #toggleDarkModeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
    max-width: 30px;
    max-height: 30px;
    cursor: pointer;
  }

  .usuario-barra {
    background-color: #3498db;
    padding: 5px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Arial', sans-serif;
    margin-bottom: 0; 
    position: relative;
  }


.usuario-barra span {
  font-weight: bold;
  font-size: 18px;
}

  .usuario-barra form {
  display: flex;
  align-items: center;
}

.usuario-barra div {
  display: relative;
  align-items: center;
}

.usuario-barra img {
  width: 30px;
  height: 30px;
  cursor: pointer; 
  max-width: 100%;
 
  
}

.home-btn img {
  width: 50px; 
  height: 50px; 
  max-width: 100%;
  margin-left: auto;
  }

.btn-filter{
    margin-right: 1005px;
    margin-bottom: 10px;
    margin-top: 10px;
  }


#tabelaServidores th.negrito {
font-weight: bold;
}

#tabelaServidores td {
font-weight: normal;
}

.data-filter{
  max-width: 200px;
  margin-left: 10px;
}

.matricula-filter{
  max-width: 200px;
  margin-left: 10px;
}

.imagem-fundo {
  width: 100%;
  overflow: hidden;
  margin-top: 335px;
  position: relative;
}

.imagem-fundo img {
  width: 100%;
  position: relative;
}


.btn {
  margin: 10px;
  transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
  background-color: #0139a1;
  color: #fff;
}


.logout-btn {
  width: 30px; 
  height: 30px;
  max-width: 100%; 
  cursor: pointer;
}

.version-text {
  text-align: end;
  margin-right: 15px;
}

.download-icon{
  width: 105%;
}

.btn-sucess{
  width: 20%;
}

.lixo-icon{
  width: 90%;

}
.lapis-icon{
  width: 90%;
}

.btn-danger{
  width: 140%;
}

.icon-azul{
  width: 140%;
}

.acoes-coluna{
  width: 12%;
}

.botoes {
  display: flex;
  align-items: center;
  justify-content: space-between; 
}

.data-coluna{
  width: 10%;
}

.pontos-coluna{
  width: 5%;
}

.nome-coluna{
  width: 5%;
}

#tabelaServidores th.nome-coluna,
#tabelaServidores td.text-center:nth-child(1) {
  width: 25%; 
}

#tabelaServidores th.pontualidade-coluna,
#tabelaServidores td.text-center:nth-child(5),
#tabelaServidores th.assiduidade-coluna,
#tabelaServidores td.text-center:nth-child(6),
#tabelaServidores th.exec-coluna,
#tabelaServidores td.text-center:nth-child(7) 
#tabelaServidores th.iniciativa-coluna,
#tabelaServidores td.text-center:nth-child(8){
  width: 5%;
}

#tabelaServidores th.servicos-coluna,
#tabelaServidores td.text-center:nth-child(9){
width: 5%;
}

#tabelaServidores th.matricula-coluna,
#tabelaServidores td.text-center:nth-child(10){
width: 5%;
}

#tabelaServidores th.escala-coluna,
#tabelaServidores td.text-center:nth-child(11){
width: 5%;
}

#tabelaServidores th.setor-coluna,
#tabelaServidores td.text-center:nth-child(12){
width: 5%;
}


.btn-acoes{
  background-color: transparent;
  border: transparent;
}