.data-filter{
  max-width: 200px;
  margin-left: 10px;
}

.matricula-filter{
  max-width: 200px;
  margin-left: 10px;
}

.btn-filter{
  margin-right: 1005px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.home-btn img {
width: 50px; 
height: 50px; 
max-width: 100%; 
margin-left: auto;
}

/* Estilo para a imagem de fundo */
.imagem-fundo {
width: 100%;
overflow: hidden;
margin-top: 335px;
position: relative;
}

.imagem-fundo img {
width: 100%;
position: relative;
}

.usuario-barra {
background-color: #3498db;
padding: 5px;
color: #fff;
display: flex;
flex-direction: column;
align-items: flex-start;
font-family: 'Arial', sans-serif;
margin-bottom: 0; 
position: relative;
}

.usuario-barra div {
display: relative;
align-items: center;
}

.usuario-barra span {
font-weight: bold;
font-size: 18px;
}


.btn {
margin: 10px;
transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
background-color: #0139a1;
color: #fff;
}


.logout-btn {
width: 30px; 
height: 30px; 
max-width: 100%; 
cursor: pointer;
}


.home-btn img {
width: 50px; 
height: 50px;
max-width: 100%; 
margin-left: auto;
}


.version-text {
text-align: end;
margin-right: 15px;
}

.download-icon{
width: 150%;
height: 100%;
}

.btn-sucess{
width: 200%;
}

.lixo-icon{
width: 120%;
height: 100%;

}
.lapis-icon{
width: 150%;
height: 100%;
}

.btn-danger{
width: 150%;
}

.icon-azul{
width: 150%;
}

#mensagem-sucesso-form {
    display: none;
    background-color: #d4edda;
    padding: 10px;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    margin-top: 10px;
    color: #155724;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }