/* Estilo para a imagem de fundo */
.imagem-fundo {
  width: 100%;
  overflow: hidden;
  margin-top: 335px;
  position: relative;
}

.imagem-fundo img {
  width: 100%;
  position: relative;
}

/* Estilo para a barra do usuário */
.usuario-barra {
  background-color: #3498db;
  padding: 5px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: 'Arial', sans-serif;
  margin-bottom: 0; /* Remover a margem inferior */
  position: relative;
}

.usuario-barra div {
  display: relative;
  align-items: center;
}

.usuario-barra span {
  font-weight: bold;
  font-size: 18px;
}

/* Estilo para os botões */
.btn {
  margin: 10px;
  transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
  background-color: #0139a1;
  color: #fff;
}

/* Estilo para o botão de logout */
.logout-btn {
  width: 30px; /* Defina a largura desejada */
  height: 30px; /* Isso garante que a altura seja ajustada automaticamente para manter a proporção */
  max-width: 100%; /* Garante que a largura não ultrapasse a largura do contêiner pai */
  cursor: pointer;
}

/* Estilo para o botão home */
.home-btn img {
  width: 50px; /* Defina a largura desejada */
  height: 50px; /* Isso garante que a altura seja ajustada automaticamente para manter a proporção */
  max-width: 100%; /* Garante que a largura não ultrapasse a largura do contêiner pai */
  margin-left: auto;
}

#mensagem-sucesso-form {
  display: none;
  background-color: #d4edda;
  padding: 10px;
  border: 1px solid #c3e6cb;
  border-radius: 5px;
  margin-top: 10px;
  color: #155724;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menubar {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}




