
/* Estilo para a imagem de fundo */
.imagem-fundo {
  width: 100%;
  overflow: hidden;
  margin-top: 335px;
  position: relative;
}

.imagem-fundo img {
  width: 100%;
  position: relative;
}

/* Estilo para a barra do usuário */
.usuario-barra {
  background-color: #3498db;
  padding: 5px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: 'Arial', sans-serif;
  margin-bottom: 0; /* Remover a margem inferior */
  position: relative;
}

.usuario-barra div {
  display: relative;
  align-items: center;
}

.usuario-barra span {
  font-weight: bold;
  font-size: 18px;
}

/* Estilo para os botões */
.btn {
  margin: 10px;
  transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
  background-color: #0139a1;
  color: #fff;
}

/* Estilo para o botão de logout */
.logout-btn {
  width: 30px; /* Defina a largura desejada */
  height: 30px; /* Isso garante que a altura seja ajustada automaticamente para manter a proporção */
  max-width: 100%; /* Garante que a largura não ultrapasse a largura do contêiner pai */
  cursor: pointer;
}

/* Estilo para o botão home */
.home-btn img {
  width: 50px; /* Defina a largura desejada */
  height: 50px; /* Isso garante que a altura seja ajustada automaticamente para manter a proporção */
  max-width: 100%; /* Garante que a largura não ultrapasse a largura do contêiner pai */
  margin-left: 1750px;
}

/* Estilo para o texto de versão */
.version-text {
  text-align: end;
  margin-right: 15px;
}
