{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/cadastrar.css' %}">

  <title>Cadastro de Servidor</title>
</head>


<style>
  .sugestoes-container {
  position: absolute;
  z-index: 1000;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-height: 150px;
  overflow-y: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  right: 700px; 
}

.custom-btn {
  background-color: #2177b1; 
  color: #fff; 
  transition: background-color 0.3s, color 0.3s;
}

.custom-btn:hover {
  background-color: #0040c9; 
  color: #fff; 
}

</style>

<body>
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }}">
    {{ message }}
  </div>
  {% endfor %}
</body>

<div class="container">
  <div class="form-container">
    <div id="sugestoes-container" class="sugestoes-container"></div>
    <form id = "formularioCadastro" method="post" autocomplete="off">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="form-group">
        <div id="total-pontos">Total de Pontos: <span id="pontos-total">0</span></div>
        
      </div>
      <div class="button-container">
        <button type="submit" class="btn btn-primary custom-btn">Confirmar</button>
        <button type="button" class="btn btn-secondary custom-btn" id="limpar-opcoes">Limpar Opções</button>
      </div>
    </form>
  </div>

  <div class="table-container">
    <table class="pontualidade-table">
      <thead>
        <tr>
          <th colspan="2">PONTUALIDADE</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Sem Justificativa</td>
          <td>10 pontos</td>
        </tr>
        <tr>
          <td>2 Justificativas</td>
          <td>08 Pontos</td>
        </tr>
        <tr>
          <td>3 Justificativas</td>
          <td>04 Pontos</td>
        </tr>
        <tr>
          <td>5 Justificativas</td>
          <td>02 Pontos</td>
        </tr>
      </tbody>
    </table>

    <table class="assiduidade-table">
      <thead>
        <tr>
          <th colspan="2">ASSIDUIDADE</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Sem Faltas</td>
          <td>10 pontos</td>
        </tr>
        <tr>
          <td>1 Falta</td>
          <td>08 Pontos</td>
        </tr>
        <tr>
          <td>2 Faltas</td>
          <td>04 Pontos</td>
        </tr>
        <tr>
          <td>3 Faltas</td>
          <td>02 Pontos</td>
        </tr>
      </tbody>
    </table>

    <table class="exec-tarefas-table">
      <thead>
        <tr>
          <th colspan="2">EXEC. TAREFAS</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Excelente</td>
          <td>30 pontos</td>
        </tr>
        <tr>
          <td>Ótimo</td>
          <td>20 Pontos</td>
        </tr>
        <tr>
          <td>Bom</td>
          <td>15 Pontos</td>
        </tr>
        <tr>
          <td>Regular</td>
          <td>10 Pontos</td>
        </tr>
      </tbody>
    </table>

    <table class="iniciativa-table">
      <thead>
        <tr>
          <th colspan="2">INICIATIVA</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Excelente</td>
          <td>20 pontos</td>
        </tr>
        <tr>
          <td>Ótimo</td>
          <td>15 Pontos</td>
        </tr>
        <tr>
          <td>Bom</td>
          <td>10 Pontos</td>
        </tr>
        <tr>
          <td>Regular</td>
          <td>05 Pontos</td>
        </tr>
      </tbody>
    </table>

    <table class="at-servicos-table">
      <thead>
        <tr>
          <th colspan="2">AT. SERVIÇOS</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Excelente</td>
          <td>20 pontos</td>
        </tr>
        <tr>
          <td>Ótimo</td>
          <td>15 Pontos</td>
        </tr>
        <tr>
          <td>Bom</td>
          <td>10 Pontos</td>
        </tr>
        <tr>
          <td>Regular</td>
          <td>05 Pontos</td>
        </tr>
      </tbody>
    </table>
  </div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"
  integrity="sha384-k6RqeZHzndpKXik3bR6qzGk65t0sIVMlXM6ZfPTAMN9ShELI6Z6C5x5kI7AvtqH2"
  crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>

$(document).ready(function () {



function validarFormulario() {
  var nome = $('#id_nome').val();
  var matricula = $('#id_matricula').val();


  if (nome.trim() === '' || matricula.trim() === '') {
    alert('Por favor, preencha todos os campos obrigatórios.');
    return false;  
  }

  return true;  
}

$('#formularioCadastro').submit(function () {

  return validarFormulario();
})
});

$('#limpar-opcoes').click(function () {
      
      $('#formularioCadastro')[0].reset();


      $('#pontos-total').text('0');
    });

  $(document).ready(function () {

    $('#id_nome').on('input', function () {
      var inputNome = $(this).val().toLowerCase();

     
      if (inputNome.trim() === '') {
        
        $('#sugestoes-container').hide();
        return;
      }

     
      $.ajax({
        url: '/api/api-pessoas/',  
        success: function (nomes) {
          var sugestoes = nomes.filter(function (pessoa) {
            return pessoa.nome.toLowerCase().includes(inputNome);
          });

         
          var sugestoesContainer = $('#sugestoes-container');
          sugestoesContainer.empty();

          if (sugestoes.length > 0) {
            sugestoesContainer.show();
          } else {
            sugestoesContainer.hide(); 
          }

          sugestoes.forEach(function (pessoa) {
            var sugestaoDiv = $('<div class="sugestao-nome">' + pessoa.nome + '</div>');
            sugestaoDiv.click(function () {

              $('#id_nome').val(pessoa.nome);
       
              $('#id_matricula').val(pessoa.pessoa_mat);
              
              sugestoesContainer.empty().hide();
            });
            sugestoesContainer.append(sugestaoDiv);
          });
        }
      });
    });
  });


  $(document).ready(function () {
    $('select').change(function () {
        calcularTotalPontos();
    });

    function calcularTotalPontos() {
        var totalPontos = 0;

     
        var pontuacoes = {
            '30': 30,
            '20': 20,
            '15': 15,
            '10': 10,
            '05': 5,
            '08': 8,
            '04': 4,
            '02': 2,
            
        };


        $('select').each(function () {
            var escolha = $(this).val();
            totalPontos += pontuacoes[escolha] || 0;
        });


        $('#pontos-total').text(totalPontos);
    }


    calcularTotalPontos();

    document.addEventListener('DOMContentLoaded', function () {
    // Aguarde até que o DOM esteja completamente carregado

    // Obtenha o formulário pelo ID
    var form = document.getElementById('formularioCadastro');

    // Adicione um ouvinte de evento para o evento de envio do formulário
    form.addEventListener('submit', function () {
      // Recarregue a página após o envio do formulário
      location.reload();
    });
  });
});



</script>
</body>

</html>
