{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    integrity="sha384-fPwb0w6wyQ8p0LOtU3kzsfk2jsV9AMxR+GvU6P8inCyMlQ5D52zBOjr65BkmwTCmL" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/dados_servidor_geral.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <title>Dados dos Servidores</title>

  <style>
   
  </style>

</head>

<div class="menu-bar">
  <div class="outros-botoes">

    <div class="usuario-barra">
      {% if user.is_authenticated %}
      <span>Bem-vindo(a), {{ user.first_name }} {{ user.last_name }}</span>
      <span>Setor: {% if user.groups.all %}{{ user.groups.all.0.name }}{% endif %}</span>

      <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
          aria-expanded="false">
          Lançamento
        </button>
        <ul class="dropdown-menu">
         
          <li><button id="btnSistemaLancamento" class="dropdown-item">Sistema de Lançamento</button></li>
          
        </ul>
        
        <div class="btn-group">
          
          <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Consulta
          </button>
          <ul class="dropdown-menu">
            
            <li><button class="dropdown-item" onclick="window.location.href='/dados_servidor'">Consulta de Lançamentos</button></li>
            <li><button class="dropdown-item" onclick="window.location.href='/dados_servidor_geral'">Consulta Dados Geral</button></li>
            {% if user.is_authenticated and user.is_superuser %}
            <li><button class="dropdown-item" onclick="window.location.href='/admin'">Área Admin</button></li>
            {% endif %}
          </ul>
      </div>
        
    

      <div class="btn-group">
           
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Relatorio
        </button>
        <ul class="dropdown-menu">

          <li><button class="dropdown-item" onclick="window.location.href='/download_pdf_geral'">Gerar Relatorio Setor</button></li>
          <li><button class="dropdown-item" onclick="window.location.href='/download_pdf_setores_geral'">Gerar Relatorio Geral</button></li>
        </ul>
    </div>

  </div>

  
  
  
  <form method="post" action="{% url 'logout' %}">
    <a href="{% url 'home' %}" class="home-btn">
      <img src="https://i.imgur.com/8FM3kMW.png" alt="Home">
    </a>
    {% csrf_token %}
    <img src="https://i.imgur.com/NV9Hgj3.png" alt="Logout" onclick="this.closest('form').submit()">
  </form>
</div>
</div>



{% endif %}
</ul>
</div>
</div>
</div>
</div>





<div id="mensagem-sucesso-form" style="color: green;">

</div>
<div id="conteudo">

</div>



<button class="btn btn-primary btn-filter" onclick="toggleFilters()">Filtragem</button>
<div class="container-fluid text-center">

  


  
  <div id="filtroContainer" style="display: none;">
   <div class="mb-3 d-flex justify-content-start filter">
       <label for="searchInput" class="form-label">Filtrar por Nome:</label>
       <input type="text" class="form-control" id="searchInput" oninput="filterServidores()">
     </div>
  
     <div class="mb-3 d-flex justify-content-start">
       <label for="matriculaInput" class="form-label">Filtrar por Matrícula:</label>
       <input type="text" class="form-control matricula-filter" id="matriculaInput" oninput="filterMatricula()">
     </div>

     

</div>

    <table id="tabelaServidores" class="table table-bordered">
      <thead>
        <tr>
          <th>Nome do Servidor</th>
          <th> Setor </th>
          <th>Mat.</th>
          <th> Gratificação </th>
          <th>ADMINIST.</th>
          <th>OBSERVAÇÃO</th>
          <th>ESCALA</th>
          <th>V.P ATUAL</th>
          <th>Total Pontos</th>
         
        </tr>
      </thead>
      <tbody>
        {% for servidor in servidores %}
        <tr>
          <td>{{ servidor.nome }}</td>
          <td> {{ servidor.setor }}</td>
          <td>{{ servidor.matricula }}</td>
          <td>{{ servidor.gratificacao_formatada }}</td>
          <td>{{ servidor.tipo_escala }}</td>
          <td>{{ servidor.tipo_modalidade }}</td>
          <td> {{servidor.escala}}</td>
          <td> {{ servidor.calcular_valor_escala }} </td>
          <td>{{ servidor.total_pontos }}</td>
          
        </tr>
        {% endfor %}
      </tbody>
    </table>



  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

    
  <script>
    function filterServidores() {
    var input, filter, table, tr, td_nome, i, txtValue_nome;
    input = document.getElementById("searchInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("tabelaServidores"); // Seleciona a tabela de servidores
    tr = table.getElementsByTagName("tr");

    for (i = 0; i < tr.length; i++) {
      td_nome = tr[i].getElementsByTagName("td")[0]; // Assume que o nome do servidor está na primeira coluna

      if (td_nome) {
        txtValue_nome = td_nome.textContent || td_nome.innerText;

        if (txtValue_nome.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
    function toggleDarkMode() {
      // Adiciona ou remove a classe 'dark-mode' do corpo da página
      document.body.classList.toggle('dark-mode');
    }

    function filterMatricula() {
    var inputMatricula, filterMatricula, table, tr, tdMatricula, i, txtValueMatricula;
    inputMatricula = document.getElementById("matriculaInput");
    filterMatricula = inputMatricula.value.toUpperCase();
    table = document.getElementById("tabelaServidores");
    tr = table.getElementsByTagName("tr");

    for (i = 0; i < tr.length; i++) {
      tdMatricula = tr[i].getElementsByTagName("td")[2]; // Assumindo que a matrícula está na 4ª coluna (índice 3)

      if (tdMatricula) {
        txtValueMatricula = tdMatricula.textContent || tdMatricula.innerText;

        if (txtValueMatricula.toUpperCase().indexOf(filterMatricula) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }

  function updateDateTime() {
            var currentDate = new Date();
            var formattedDate = currentDate.toLocaleDateString();
            

            // Display the date and time in the "datetime" element
            document.getElementById("datetime").textContent = "" + formattedDate
        }
  
        
        function toggleFilters() {
        var filtroContainer = document.getElementById("filtroContainer");
        filtroContainer.style.display = (filtroContainer.style.display === "none" || filtroContainer.style.display === "") ? "block" : "none";
      }

      
  
      function configurarSugestaoNomes() {
        $('#id_nome').on('input', function () {
          var inputNome = $(this).val().toLowerCase();
          if (inputNome.trim() === '') {
            $('#sugestoes-container').hide();
            return;
          }


  
          $.ajax({
            url: '/api/api-pessoas/',
            success: function (nomes) {
              var sugestoes = nomes.filter(function (pessoa) {
                return pessoa.nome.toLowerCase().includes(inputNome);
              });
  
              var sugestoesContainer = $('#sugestoes-container');
              sugestoesContainer.empty();
  
              if (sugestoes.length > 0) {
                sugestoesContainer.show();
              } else {
                sugestoesContainer.hide();
              }
  
              sugestoes.forEach(function (pessoa) {
                var sugestaoDiv = $('<div class="sugestao-nome">' + pessoa.nome + '</div>');
                sugestaoDiv.click(function () {
                  $('#id_nome').val(pessoa.nome);
                  $('#id_matricula').val(pessoa.pessoa_mat);
                  sugestoesContainer.empty().hide();
                });
                sugestoesContainer.append(sugestaoDiv);
              });
            }
          });
        });
      }
  
      function inicializarCalculoPontos() {
        $('#formularioCadastro select').change(function () {
          calcularTotalPontos();
        });
      }
  
      function calcularTotalPontos() {
        var totalPontos = 0;
  
        var pontuacoes = {
          '30': 30,
          '20': 20,
          '15': 15,
          '10': 10,
          '05': 5,
          '08': 8,
          '04': 4,
          '02': 2,
        };
  
        $('#formularioCadastro select').each(function () {
          var escolha = $(this).val();
          totalPontos += pontuacoes[escolha] || 0;
        });
  
        $('#pontos-total').text(totalPontos);
      }
  
      $(document).ready(function () {
        configurarSugestaoNomes();
  
        var conteudoAberto = false;
        document.getElementById('btnSistemaLancamento').addEventListener('click', function () {
          if (conteudoAberto) {
            document.getElementById('conteudo').innerHTML = '';
            conteudoAberto = false;
          } else {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
              if (this.readyState == 4 && this.status == 200) {
                document.getElementById('conteudo').innerHTML = this.responseText;
                document.getElementById('conteudo').style.padding = '10px';
                document.getElementById('conteudo').style.fontSize = '14px';
                document.getElementById('conteudo').style.paddingLeft = '20px';
                conteudoAberto = true;
                configurarSugestaoNomes();
                inicializarCalculoPontos();
  
                var form = document.getElementById('formularioCadastro');
                form.addEventListener('submit', function (event) {
                  event.preventDefault();
                  var formData = new FormData(form);
                  var xhttpForm = new XMLHttpRequest();
                  xhttpForm.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {

                      var mensagemSucessoForm = $('#mensagem-sucesso-form');
                   
                      mensagemSucessoForm.html('Lançamento Realizado com sucesso!').show();
                      console.log(this.responseText);
                      $('#id_nome').val('');
                      $('#id_matricula').val('');
                      $('#pontos-total').text('0');
                      mensagemSucessoForm.fadeOut(4000);
                    }
                  };
                  xhttpForm.open('POST', '/cadastrar/', true);
                  xhttpForm.send(formData);
                });
  
  
                $('#formularioCadastro #limpar-opcoes').click(function () {
  
                  $('#formularioCadastro')[0].reset();
  
  
                  $('#pontos-total').text('0');
                });
              }
            };
            xhttp.open('GET', '/cadastrar/', true);
            xhttp.send();
          }
        });
      });

      
  </script>
</body>

</html>