{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta tags e título da página -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Dashboard</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">


</head>

<body>
    <div class="container">
        <div class="dashboard-header">
            <h1>Dashboard</h1>
        </div>

        <div class="dashboard-content">
            <div class="row">
                <div class="col-md-6">
                    <div class="statistic-card">
                        <h2>Estatísticas Gerais</h2>
                        <p>Total de Pessoas Cadastradas: {{ total_pessoas }}</p>
                        <p> Total de Usuarios Cadastrados no Sistema: {{total_usuarios}}</p>
                        
             
                    </div>
                </div>
                <div class="dashboard-content">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="statistic-card">
                                <h2>Servidores</h2>
                                
                                <p>Total de Servidores Cadastrados: {{ total_servidores }}</p>
                                <p>Total de Tarefas Efetuadas Por Servidores: {{ total_tarefas }}</p>
                                <p>Servidores do Setor de TI: {{ num_servidores_ti }}</p>
                                <p>Servidores do Setor de RH: {{ num_servidores_rh }}</p>
                                
                            
                            </div>
                        </div>
                
            </div>
        </div>
    </div>

  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>
