{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    integrity="sha384-fPwb0w6wyQ8p0LOtU3kzsfk2jsV9AMxR+GvU6P8inCyMlQ5D52zBOjr65BkmwTCmL" crossorigin="anonymous">
  <script src="http://127.0.0.1:8000/api/api-pessoas/"></script>
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
  <style>
    #mensagem-sucesso-form {
      display: none;
      background-color: #d4edda;
      padding: 10px;
      border: 1px solid #c3e6cb;
      border-radius: 5px;
      margin-top: 10px;
      color: #155724;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  </style>

  <title>Pagina Inicial</title>


</head>

<body>
  <div class="usuario-barra">
    {% if user.is_authenticated %}
    <span>Bem-vindo(a), {{ user.first_name }} {{ user.last_name }}</span>
    <span>Setor: {% if user.groups.all %}{{ user.groups.all.0.name }}{% endif %}</span>
    <div class="menubar">
        <div class="btn-group">

          <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
              aria-expanded="false">
              Lançamento
            </button>
            <ul class="dropdown-menu">
              <li><button id="btnSistemaLancamento" class="dropdown-item">Sistema de Lançamento</button></li>
            </ul>
          </div>


        
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Consulta
            </button>
            <ul class="dropdown-menu">
                <li><button class="dropdown-item" onclick="window.location.href='/dados_servidor'">Consulta de Lançamentos</button></li>
                <li><button class="dropdown-item" onclick="window.location.href='/dados_servidor_geral'">Consulta de Dados Gerais</button></li>
                {% if user.is_authenticated and user.is_superuser %}
                <li><button class="dropdown-item" onclick="window.location.href='/admin'">Área Admin</button></li>
                {% endif %}
            </ul>
        </div>

        <div class="btn-group">
           
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Cadastro
            </button>
            <ul class="dropdown-menu">

              <li><button class="dropdown-item" onclick="window.location.href='/cadastrar_pessoa'">Cadastrar Contribuinte</button></li>
                <li><button class="dropdown-item" onclick="window.location.href='/outra_opcao_de_cadastro'">Outra Opção de Cadastro</button></li>
            </ul>
        </div>
      </div>
          <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <a href="" class="home-btn">
              <img src="static\img\Home_Btn.png" alt="Home">
            </a>
            <img src="static\img\Logout_Btn.png" alt="Logout" class="logout-btn"
              onclick="this.closest('form').submit()">
          </form>
        </div>
    </div>
    {% endif %}
  <div class="version-text">
    <a>Versão: 4.13.8-Beta </a>
  </div>
  <div id="mensagem-sucesso-form" style="color: green;"></div>
  <div id="conteudo"></div>



  <div class="imagem-fundo">
    <img src="static\img\Wallpaper_Prefeitura.png" alt="Imagem Fundo">
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"
    integrity="sha384-k6RqeZHzndpKXik3bR6qzGk65t0sIVMlXM6ZfPTAMN9ShELI6Z6C5x5kI7AvtqH2"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

  <script>

    var mensagemSucessoForm = $('#mensagem-sucesso-form');

    function configurarSugestaoNomes() {
      $('#id_nome').on('input', function () {
        var inputNome = $(this).val().toLowerCase();
        if (inputNome.trim() === '') {
          $('#sugestoes-container').hide();
          return;
        }

        $.ajax({
          url: '/api/api-pessoas/',
          success: function (nomes) {
            var sugestoes = nomes.filter(function (pessoa) {
              return pessoa.nome.toLowerCase().includes(inputNome);
            });

            var sugestoesContainer = $('#sugestoes-container');
            sugestoesContainer.empty();

            if (sugestoes.length > 0) {
              sugestoesContainer.show();
            } else {
              sugestoesContainer.hide();
            }

            sugestoes.forEach(function (pessoa) {
              var sugestaoDiv = $('<div class="sugestao-nome">' + pessoa.nome + '</div>');
              sugestaoDiv.click(function () {
                $('#id_nome').val(pessoa.nome);
                $('#id_matricula').val(pessoa.pessoa_mat);
                sugestoesContainer.empty().hide();
              });
              sugestoesContainer.append(sugestaoDiv);
            });
          }
        });
      });
    }

    function inicializarCalculoPontos() {
      $('#formularioCadastro select').change(function () {
        calcularTotalPontos();
      });
    }

    function calcularTotalPontos() {
      var totalPontos = 0;

      var pontuacoes = {
        '30': 30,
        '20': 20,
        '15': 15,
        '10': 10,
        '05': 5,
        '08': 8,
        '04': 4,
        '02': 2,
      };

      $('#formularioCadastro select').each(function () {
        var escolha = $(this).val();
        totalPontos += pontuacoes[escolha] || 0;
      });

      $('#pontos-total').text(totalPontos);
    }

    $(document).ready(function () {
      configurarSugestaoNomes();

      var conteudoAberto = false;
      document.getElementById('btnSistemaLancamento').addEventListener('click', function () {
        if (conteudoAberto) {
          document.getElementById('conteudo').innerHTML = '';
          conteudoAberto = false;
        } else {
          var xhttp = new XMLHttpRequest();
          xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
              document.getElementById('conteudo').innerHTML = this.responseText;
              document.getElementById('conteudo').style.padding = '5px';
              document.getElementById('conteudo').style.fontSize = '14px';
              conteudoAberto = true;
              configurarSugestaoNomes();
              inicializarCalculoPontos();

              var form = document.getElementById('formularioCadastro');
              form.addEventListener('submit', function (event) {
                event.preventDefault();
                var formData = new FormData(form);
                var xhttpForm = new XMLHttpRequest();
                xhttpForm.onreadystatechange = function () {
                  if (this.readyState == 4 && this.status == 200) {
                 
                    mensagemSucessoForm.html('Lançamento Realizado com sucesso!').show();
                    console.log(this.responseText);
                    form.reset();
                    $('#pontos-total').text('0');
                  }
                };
                xhttpForm.open('POST', '/cadastrar/', true);
                xhttpForm.send(formData);
              });


              $('#formularioCadastro #limpar-opcoes').click(function () {

                $('#formularioCadastro')[0].reset();


                $('#pontos-total').text('0');
              });
            }
          };
          xhttp.open('GET', 'cadastrar', true);
          xhttp.send();
        }
      });
    });
  </script>
</body>

</html>