{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha384-fPwb0w6wyQ8p0LOtU3kzsfk2jsV9AMxR+GvU6P8inCyMlQ5D52zBOjr65BkmwTCmL" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/login.css' %}">

    <title>Login</title>

</head>

<body>
    
    <div class="container text-center logo-container">
        <img src="https://i.imgur.com/P4MhD1i.png" alt="Logo Prefeitura">
    </div>

    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
        {% for field, errors in form.errors.items %}
        {% for error in errors %}
        {{ error }}
        {% endfor %}
        {% endfor %}
    </div>
    {% endif %}

    <h2> Secretaria Municipal da Fazenda de Maceió </h2>
    <div class="container form-container">
        <h1>Login</h1>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="mb-3">
                <label for="{{ form.username.id_for_label }}">Usuário:</label>
                {{ form.username }}
            </div>
            <div class="mb-3">
                <label for="{{ form.password.id_for_label }}">Senha:</label>
                {{ form.password }}
            </div>
            <button type="submit" class="btn btn-primary">Entrar</button>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>