{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="pt-br">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/administrativos_repositorio.css'%}">
</head>
<body>
    <header>
        <h1>Formulários</h1>
    </header>
    <header>
        <h2>SEFAZ</h2>
    </header>
    <div class="container">
        <a href="{% url 'index-repositorio'%}" class="btn-iniciar">Início</a>
    </div>
    <body>
        <div class="search-container">
            <input type="text" id="searchInput" placeholder="Digite sua pesquisa...">
            <button id="searchButton">Pesquisar</button>
            <script src="index.js"></script>
        </div>
        
        <div class="links-container">
            <div class="link-group">
        <div class="link">
             <a href="{% static 'zip/AntivirusKaspersky.rar'%}" download>Licença Kaspersky - Licença Vencida</a>
         </div>
            
        <div class="link">
            <a href="{% static 'zip/AvKarspesk-Licençatemporária.rar'%}" download>Av Kaspersky - Licença Temporária</a>
        </div>
        
        <div class="link">
            <a href="{% static '/zip/ComiteSIAT.rar'%}" download>Comite SIAT</a>
        </div>
        
        <div class="link">
            <a href="{% static '/zip/Contratos.rar'%}" download>Contratos</a>
        </div>
        
        <div class="link">
            <a href="{% static '/zip/Despacho.rar'%}" download>Despacho</a>
        </div>
        
        <div class="link">
            <a href="{% static '/zip/Diversos.rar'%}" download>Diversos</a>
        </div>
        
        <div class="link">
            <a href="{% static '/zip/estaticavencida.rar'%}" download>Estática vencida</a>
        </div>
        
        <div class="link">
            <a href="{% static '/zip/irps.rar'%}" download>IRP's_2024</a>
        </div>
        
        <div class="link">
            <a href="{% static '/zip/memorando.rar'%}" download>Memorando</a>
        </div>
        
        <div class="link">
            <a href="{% static '/zip/politicadeseguranca.rar'%}" download>Política de Segurança - Acesso VPN</a>
        </div>
        
        <div class="link">
            <a href="{% static '/zip/politicadesegurancadainformacao.rar'%}" download>Política de Segurança da Informação</a>
        </div>
        
        <div class="link">
            <a href="{% static '/zip/powerbi.rar'%}" download>POWER BI</a>
        </div>
        
        <div class="link">
            <a href="{% static '/zip/processoantivirus.rar'%}" download>Processo-Antivírus</a>
        </div>
        
        <div class="link">
            <a href="{% static '/zip/projetosdetecnologia.rar'%}" download>Projetos de Tecnologia da Informação 2023-2024</a>
        </div>
        
        <div class="link">
            <a href="{% static '/zip/redmine.rar'%}" download>REDMINE</a>
        </div>
        <div class="link">
            <a href="{% static '/zip/semge.rar'%}" download>SEMGE</a>
        </div>
        
        <div class="link">
            <a href="{% static 'static/zip/Despacho.rar'%}" download>Despacho</a>
        </div>
        </div>
        </div>
    <footer>
        <p>&copy; 2024 SEFAZ. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
