{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="pt-br">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/Formulários.css'%}">
</head>
<body>
    <header>
        <h1>Formulários</h1>
    </header>
    <header>
        <h2>SEFAZ</h2>
    </header>
    <div class="container">
        <a href="{% url 'index'%}" class="btn-iniciar">Início</a>
    </div>
    <body>
        <div class="search-container">
            <input type="text" id="searchInput" placeholder="Digite sua pesquisa...">
            <button id="searchButton">Pesquisar</button>
            <script src="index.js"></script>
        </div>
        
        
        <div class="link">
            <a href="/static/pdf/formularios/Termo de Responsabilidade _ Versão 2.0.pdf" download>Termo de Responsabilidade</a>
        </div>
        <div class="link">
            <a href="/static/pdf/formularios/Termo de Responsabilidade de Acesso aos Serviços de Webmail.pdf" download> Termo de Responsabilidade Acesso ao Zimbra </a>
        </div>
        <div class="link">
            <a href="/static/pdf/formularios/AUTORIZACAO-PARA-FERIAS.pdf" download>Autorização para as férias </a>
        </div>
        <div class="link">
            <a href="/static/pdf/formularios/AVISOGLPI.pdf" download>Aviso GLPI</a>
        </div>
        <div class="link">
            <a href="/static/pdf/formularios/FORMULARIO-DE-AUSENCIA-DE-PROVA.docx" download>Formulário de Ausência de prova</a>
        </div>
        <div class="link">
            <a href="/static/pdf/formularios/Formulario-de-Justificativa-SEFAZ-Atualizado.pdf" download>Formulário de Justificativa SEFAZ</a>
        </div>
        <div class="link">
            <a href="/static/pdf/formularios/formulario-REATIVACAO-DOS-DEPENDENTES.pdf" download>Formulário de reativação de dependentes</a>
        </div>
        <div class="link">
            <a href="/static/pdf/formularios/MEMORANDO-CTIT-UNIDADE-DE-REDE-PÚBLICO-1.pdf" download>Formulário Memorando CTIT</a>
        </div>
        <div class="link">
            <a href="/static/pdf/formularios/Novo-Manual-Protocolo-Eletrônico-v1-1.pdf" download>Formulário Protocolo Eletrônico</a>
        </div>
        <div class="link">
            <a href="/static/pdf/formularios/Papel-timbrado-SEFAZ.docx" download>Papel Timbrado SEFAZ</a>
        </div>
        <div class="link">
            <a href="/static/pdf/formularios/Requerimento-Ambiental.pdf" download>Requerimento Ambiental</a>
        </div>
        <div class="link">
            <a href="/static/pdf/formularios/Requerimento-Edilicio.pdf" download>Requerimento Edilicio</a>
        </div>
        <div class="link">
            <a href="/static/pdf/formularios/REQUERIMENTO-IMOBILIARIO-2019.3-2.pdf" download>Requerimento Imobiliário 2019</a>
        </div>
        <div class="link">
            <a href="/static/pdf/formularios/REQUERIMENTO-MERCANTIL-2019.3-1.pdf" download>Requerimento Mercantil 2019</a>
        </div>
        <div class="link">
            <a href="/static/pdf/formularios/REQUERIMENTO-SEFAZ-PROTOCOLO-GERAL (1).pdf" download>Requerimento SEFAZ</a>
        </div>
  
   
        <footer>
            <p>&copy; 2024 SEFAZ. Todos os direitos reservados.</p>
        </footer>
</body>
</html>

